body{
    background-color: black;
    color: white;
}
.container{
    text-align: center;
}

.giveInput{
    margin: 4px;
}

form #result{
    font-size: 1.1rem;
    color: red;
    font-weight: bold;
}

#btn{
    margin: 4px;
    padding: 4px;
    background-color: white;
    border-radius: 9px;
    font-size: 1.1rem;
    font-weight: bold;
}
